@import "tailwindcss";

@theme {
  --color-blue-950: #0C122C;
  --color-blue-900: #0F1B3D;
  --color-blue-850: #1E2D69;
  --color-blue-600: #697ED4;
  --color-blue-200: #DBD9FF;

  --font-raleway: "Raleway", sans-serif;
  --text-base: 14px;
  --leading-base: 115%;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "Raleway", sans-serif;
}